<ion-header>
    <ion-toolbar>
      <ion-title>Bienvenue sur TATCHAT   <img class="logochatte" src="../../assets/images/logoChatte.jpg"></ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-title>Connexion</ion-title>
      <ion-item>
        <ion-input [(ngModel)]="username" placeholder="Votre pseudo"></ion-input>
      </ion-item>  
      <ion-item>
        <ion-input [(ngModel)]="password" type="password"  placeholder="Mot de passe"></ion-input>
      </ion-item>  
      <ion-button expand="block" (click)="login()">Connexion</ion-button>
      <ion-button expand="block" [routerLink]="['/inscription']">Inscription</ion-button>
  </div>
  <div id="blockBienvenue">
    <img src="../../assets/images/imgTatchatte.jpg">
  </div>
</ion-content>
